@import '../../submodules/uikit/src/UIKit/variables.scss';

.item {
  @include flex-center($display: inline-flex);

  height: 36px;
  border: 1px solid $cl-black12;
  background-color: $cl-white;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
}

.item,
.type {
  @include font-style($body: true);
}

.type {
  margin-right: 8px;
  color: $cl-black54;
}

.remove {
  i {
    font-size: 16px;
    padding-left: 8px;
  }

  line-height: 1;
  color: $cl-black54;
}
