@import '../../submodules/uikit/src/UIKit/variables.scss';

.root {
  margin-top: -20px;
}

.content {
  padding-bottom: $gutter;
  padding-top: $gutter;
  text-align: center;

  .PageTitle {
    margin: 0;
    text-align: center;

    h1 {
      margin: 0 auto;
    }
  }

  .code {
    font-size: 150px;
    font-weight: $fw-medium;
    line-height: 1;

    @media (max-width: $screen-max-phone) {
      font-size: 115px;
    }
  }

  h1 {
    text-transform: uppercase;

    @media (max-width: $screen-max-phone) {
      font-size: 28px;
    }
  }
}

.msg {
  margin: 2em 0;

  @media (max-width: $screen-max-phone) {
    font-size: 14px;
  }

  a {
    color: $cl-primary;
  }
}
